# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# https && certificates
/certificates
server.js

# next.js
/.next/
/out/

# production
/build

# misc
/public/xrextras/
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
/public/uploads
/public/uploads/
# vercel
.vercel
.env
6
6
.eslintcache